<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= yield( :title ) or 'NAVCON' %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style></head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= render :partial => "/shared/topbar" %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
          <%= render :partial => "/shared/sidebar" %>
      </div>
    </div>
    <div class="content">
      <%= render :partial => "/shared/alert_notice"%>
      <%= yield %>
    </div>
  </div>
  </body>
</html>